@page "/edit-budget/{BudgetId}"
@page "/add-budget"

@using PersonalAccounting.Domain.Dto
@using PersonalAccounting.Web.Services.Interfaces
@inject IBudgetService  budgetService

<div class="row">
    <div class="col-sm-12">
        <h3>Edit Budget</h3>

        <EditForm Model="@Budget" OnValidSubmit="@HandleValidSubmit">
            @*<InputDate id="createdat" @bind-Value="@Budget.CreatedAt" class="form-control col-sm-8"></InputDate>*@
            @*<InputText id="id" @bind-Value="@Budget.Id.ToString()" class="form-control col-sm-8" placeholder="Enter id"></InputText>*@
            
            <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
        </EditForm>

        @*<form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>*@

    </div>
</div>

@code {
    [Parameter]
    public string BudgetId { get; set; }
    public BudgetDto Budget { get; set; } = new BudgetDto();

    protected override async Task OnInitializedAsync()
    {
        int paramBudgetId;
        var nes = int.TryParse(BudgetId, out paramBudgetId);

        if (nes)
        {
            Budget = await budgetService.GetBudget(paramBudgetId);
        }
    }

    protected async Task HandleValidSubmit()
    {
        
    }
}
